/* Estilos para el formulario */


    body {
        font-family: Arial, sans-serif;
        background-color: #b4f1e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    form {
        background-color: rgb(64, 245, 160);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(219, 21, 21, 0.1);
    }
    label {
        display: block;
        margin-bottom: 12px;
    }
    input {
        width: 500px;
        padding: 12px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        width: 100px;
        padding: 10px;
        background-color: #045575;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #1d3add;
    }



    
